body{
	background-color:Yellow;
}
p{
	color:magenta;
}
p#egg{
	color:blue;
}
p.chloe{
	color:blue;
<img src="https://lh5.googleusercontent.com/-zXFBEReWAYs/U0XE1thRGXI/AAAAAAAAA-A/fQVvDKOpC-0/w800-h800/tumblr_mr4sptQXx11qhu3vxo1_500.gif">
}